*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
player*.txt
villa*.txt
ally*.txt
.rvmrc
/info/*
mechanize.log
*.png
allybr44.txt
allybr48.txt
allybr52.txt
ataqueTropas.png
ataqueTropas_Ataque.png
boot.png
playerbr44.txt
playerbr48.txt
playerbr52.txt
report1.png
report2.png
reports.png
villagebr44.txt
villagebr48.txt
villagebr52.txt
